<!DOCTYPE html>
<html>
<head>
<title>gov8react | Go React SSR with V8 Binding</title>
<meta charset="UTF-8" />
<style data-emotion="{{ .Emotion.Key }} {{ .Emotion.Ids }}">{{ .Emotion.Css }}</style>
</head>
<body>
<div id="app">{{ .ReactApp }}</div>
{{ if .WithHydration }}
<script>
window.__GO_APP_STATE__={{ .AppState }};
</script>
<script async defer src="/static/main.client.js"></script>
{{ end }}
</body>
</html>
